custom.el
elpa
*.elc
tmp
tramp
url/cookies
.org-id-locations
eshell/history
eshell/lastdir

# manually installed stable org-mode
site-lisp/_extras/org-*
/locals.el
/recentf
/savehist
/projectile-bookmarks.eld
/projectile.cache
/places
/mc-lists.el
/ido.last
/history
/company-statistics-cache.el
/.emacs.desktop
/.emacs.desktop.lock
/smex-items
/bookmarks
/auto-save-list/
/.backup/
/irony/
/semanticdb/
/xkcd/
/calc.el
