[submodule "site-lisp/_extras/yasnippet-snippets"]
	path = site-lisp/_extras/yasnippet-snippets
	url = https://github.com/ptrv/yasnippet-snippets.git
[submodule "site-lisp/emacs-faust-mode"]
	path = site-lisp/emacs-faust-mode
	url = https://github.com/ptrv/emacs-faust-mode.git
    ignore = untracked
[submodule "site-lisp/processing2-emacs"]
	path = site-lisp/processing2-emacs
	url = https://github.com/ptrv/processing2-emacs.git
    ignore = untracked
[submodule "site-lisp/arduino-mode"]
	path = site-lisp/arduino-mode
	url = https://github.com/ptrv/arduino-mode.git
[submodule "site-lisp/org2blog"]
	path = site-lisp/org2blog
	url = https://github.com/punchagan/org2blog.git
    ignore = untracked
[submodule "site-lisp/insert-time"]
	path = site-lisp/insert-time
	url = https://github.com/rmm5t/insert-time.el.git
    ignore = untracked
[submodule "site-lisp/chuck-mode"]
	path = site-lisp/chuck-mode
	url = https://github.com/ptrv/chuck-mode.git
[submodule "site-lisp/sclang-snippets"]
	path = site-lisp/sclang-snippets
	url = https://github.com/ptrv/sclang-snippets.git
[submodule "themes/gandalf-theme-emacs"]
	path = themes/gandalf-theme-emacs
	url = https://github.com/ptrv/gandalf-theme-emacs.git
[submodule "site-lisp/_extras/doxymacs"]
	path = site-lisp/_extras/doxymacs
	url = git://git.code.sf.net/p/doxymacs/code
    ignore = untracked
[submodule "site-lisp/company-sclang"]
	path = site-lisp/company-sclang
	url = https://github.com/ptrv/company-sclang.git
[submodule "site-lisp/company-statistics"]
	path = site-lisp/company-statistics
	url = https://github.com/company-mode/company-statistics.git
